* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.container {
    background-color: var(--BG-Grad);
    backdrop-filter: blur(20px);
    padding: 20px;
    border: solid 1px var(--BG-White);
    border-radius: 20px;
    box-shadow: var(--box-shadow-btn);

    img {
        width: 100%;
        border-radius: 20px;
        box-shadow: var(--box-shadow-btn);
    }

    p {
        font-size: 1rem;
        color: white;
        padding-bottom: 40px;
        padding-top: 10px;
        font-family: montserrat;
    }

    .directionButton {
        display: flex;
        justify-content: end;
    }
}