* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    background-color: var(--BG-White);
    color: var(--Text-Black);
    border-radius: var(--border-radius-40);
    box-shadow: var(--box-shadow-btn);
    border: none !important;
    font-family: montserrat;
    font-weight: bold;
    padding: var(--padding-btn);

    transition: 500ms
}