* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../../assets/BgHome.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.home {
    padding: 0 10px;
}