* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../../assets/BgHome.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.home {
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
    margin: auto;

    .newsFlex {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .newsLeft {
            display: flex;
            flex-direction: column;
            gap: 40px;

            .video {
                border-radius: 20px;
                box-shadow: var(--box-shadow-btn);
            }
        }

        .newsRight {
            display: flex;
            flex-direction: column-reverse;
            gap: 40px;

            .video {
                border-radius: 20px;
                box-shadow: var(--box-shadow-btn);
            }
        }
    }

    h4 {
        text-align: center;
        font-size: 1.625rem;
        color: var(--Text-White);
        font-family: var(--primary);

        padding: var(--paddingBT);

    }
}