@import "tailwindcss";
/* tailwind css v4.x */
@import "tailwindcss";
@import "tailwindcss-animated";

body {
  background-image: url(./assets/ImageBg/BG1.png);
  color: white !important;
  font-family: Montserrat !important;
}