@import "tailwindcss";
@import "tailwindcss-animated";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-image: url(./assets/ImageBg/BG1.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #0e0e0e !important;
  font-family: "Montserrat", sans-serif !important;
  color: white !important;
}

html {
  font-family: "Montserrat", sans-serif !important;
  background-color: #0e0e0e !important;
}

/* ::-webkit-scrollbar {
  display: none;
} */

.custom-scrollbar::-webkit-scrollbar {
  padding: 20px;
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
  scrollbar-color: #888 #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
