* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* background-color */
    --BG-White: #fff;
    --BG-Black: #000;
    --BG-Primary: #0E0E0E;
    --BG-Grad: rgba(255, 255, 255, 0.1);



    
    /* text-color */
    --Text-White: #fff;
    --Text-Black: #000;

    /* font family */
    --primary: montserrat;

    /*border-radius */
    --border-radius-40: 40px;
    --border-radius-30: 30px;
    --border-radius-20: 20px;
    --border-radius-10: 10px;

    /* padding */
    --padding-btn: 0.5em 1.25em;
    --padding-10: 0.625em;
    --padding-15: 0.9375em;
    --padding-20: 1.25em;
    --paddingBT: 2.5em 0;



    /* box-shadow */
    --box-shadow-btn: 0 2px 10px rgba(0, 0, 0, 0.6);
}

body {
    background-color: var(--BG-Primary);
    color: var(--Text-White);
}